fastapi
uvicorn[standard]
pydantic
python-multipart
langchain-mistralai
langchain-qdrant
langchain-community
langchain-text-splitters
qdrant-client
pypdf
python-dotenv
rank-bm25
sentence-transformers
langgraph
langgraph-prebuilt
